---
import Layout from "../layouts/Layout.astro";
import { Content as AboutContent } from "../content/about.md";
---

<Layout>
	<section class="py-5">
		<div class="content content--prose">
			<AboutContent />
		</div>
	</section>
</Layout>
